body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color:rgb(92, 84, 75)
}

.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $watchSize;
  width: $watchSize;
  border: 1vmin solid #000;
  border-radius: 50%;
  background-color: rgb(228, 220, 220);
  background-image:url(https://foni.papik.pro/uploads/posts/2024-09/foni-papik-pro-xtlj-p-kartinki-chasovoi-tsiferblat-na-prozrachno-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  &__details {
    position: absolute;

    &--hours {
      height: $hoursLength;
      width: $hoursWidth;
      background-color: $hoursColor;
      transform-origin: 50% 100%;
      animation: spin 3600s steps(60) infinite;
    }
    &--minutes {
      height: $minutesLength;
      width: $minutesWidth;
      background-color: $minutesColor;
      transform-origin: 50% 100%;
      animation: spin 3600s steps(60) infinite;
    }

    &--seconds {
      height: $secondsLength;
      width: $secondsWidth;
      background-color: $secondsColor;
      transform-origin: 50% 100%;
      animation: spin 60s linear infinite;
    }

    &--center {
      height: $centerDiameter;
      width: $centerDiameter;
      background-color: $centerColor;
      border-radius: 50%;
    }
  }
}

.stopwatch--speed-up {
  .stopwatch__details--hours {
    animation: spin 216000s steps(60) infinite;
  }
  .stopwatch__details--minutes {
    animation: spin 3600s steps(60) infinite;
  }

  .stopwatch__details--seconds {
    animation: spin 60s linear infinite;
  }
}
