$watchSize: 80vmin;
$hoursLength: 20vmin;
$hoursWidth: 2vmin;
$hoursColor: #0700ff;
$minutesLength: 35vmin;
$minutesWidth: 1.5vmin;
$minutesColor: #000000;
$secondsLength: 38vmin;
$secondsWidth: 1vmin;
$secondsColor: #df0f0f;
$centerDiameter: 5vmin;
$centerColor: #f6a603;
